export("StVAR","StDLRM","StAR")
importFrom("ADGofTest",ad.test)
importFrom("stats",embed)
importFrom("numDeriv",jacobian)
importFrom("MCMCpack",vech,xpnd)
importFrom("matlab",ones)
importFrom("stats", "fitted", "optim", "pt", "runif")
