importFrom("fMultivar", rmvst)

importFrom("MCMCpack", xpnd)
 
importFrom("car",linearHypothesis)
importFrom("moments",skewness,kurtosis)
importFrom("numDeriv",jacobian)
exportPattern("StVAR")



